@model IEnumerable<ItPedia.Models.ProposalTerm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proposal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proposal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specification)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProposalTermId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProposalTermId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProposalTermId })
        </td>
    </tr>
}

</table>
