@model ItPedia.ViewModels.CustomerCriteriasViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerCriteria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerCriteria.CustomerCriteriaId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerCriteria.Size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerCriteria.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerCriteria.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllIndustryCriterias, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.SelectedIndustryCriterias, Model.AllIndustryCriterias, new {@class = "select2", @style = "width: 100%" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllEmployeeCriterias, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.SelectedEmployeeCriterias, Model.AllEmployeeCriterias, new {@class = "select2", @style = "width: 100%" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
