@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="jumbotron">
        <p>
            @ViewBag.ObjectiveIntro
        </p>
    </div>

    <p>
        @ViewBag.ObjectiveDescription
    </p>
</div>

<div class="row">
    <h3>@ViewBag.StudentsWorkedTitle</h3>
    <p>
        @ViewBag.StudentsWorkedIntro
        <ul>
            @foreach (var student in ViewBag.StudentsWorked)
            {
                <li>@student</li>
            }
        </ul>
    </p>
</div>

<div class="row">
    <h3>@ViewBag.DereeCisAndByteTitle</h3>

    @foreach (var paragraph in ViewBag.DereeCisAndByteContent)
    {
        <p>@paragraph</p>
    }
</div>

<div class="row">
    <h3>@ViewBag.ResourcePeopleTitle</h3>
    <p>
        <ul>
            @foreach (var person in ViewBag.ResourcePeople)
            {
                <li>@person</li>
            }
        </ul>
    </p>
</div>

<div class="row">
    <h3>@ViewBag.ToolsAndTechnologiesUsedTitle</h3>
    <div class="list-group">
        @foreach (KeyValuePair<string, string> item in ViewBag.ToolsAndTechnologiesUsedItems)
        {
            <a href="@item.Value" class="list-group-item">@item.Key</a>
        }
    </div>
</div>