@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="jumbotron">
        <h2>@ViewBag.Message</h2>

        @{ Html.RenderPartial("_ItPediaLogoText"); }

        <p>
            This website is a joint initiative of students at DEREE Computer Information Systems academic department and BYTE Computer SA.
        </p>
        <p>
            It serves as decision support tool for new entrepreneurs and business firms, aiming to produce the most suitable Information Technology configuration for different types of companies according to the industry, number of employees, number of customers, and number of transactions per month.
        </p>
        <p>
            <b>Please choose from the options below to view the recommended solution set.</b>
        </p>
    </div>
}

@using (Html.BeginForm("NewRequest", "Home", FormMethod.Post, new
{
    @id = "CompanyEmployeeFormId",
    data_employeeListAction = @Url.Action("EmployeeList"),
    data_customerListAction = @Url.Action("CustomerList"),
    data_transactionListAction = @Url.Action("TransactionList"),
    @class = ""
}))
{
    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label" for="industryCode">
                <i class="fa fa-industry"></i> Industry
            </label>
            @Html.DropDownList("industryCode", ViewBag.IndustrySelectList as SelectList,
                "Select an industry", new {@id = "industryCode", @class = "form-control"})
        </div>
        <div class="form-group col-sm-6" id="EmployeesDiv">
            <label class="control-label" for="employeeCode">
                <i class="fa fa-users"></i> Employees
            </label>
            <select id="employeeCode" name="employeeCode" class="form-control" disabled="disabled">
                <option value="">Select number of employees.</option>
            </select>
        </div>


        <div class="form-group col-sm-6" id="CustomersDiv">
            <label class="control-label" for="customerCode">
                <i class="fa fa-shopping-cart"></i> Customers
            </label>
            @Html.DropDownList("customerCode", ViewBag.CustomerList as SelectList,
                "Select number of customers", new {@id = "customerCode", @code = "customerCode", @class = "form-control", disabled = "disabled"})
        </div>

        <div class="form-group col-sm-6" id="TransactionsDiv">
            <label class="control-label">
                <i class="fa fa-truck"></i> Transactions/month
            </label>
            @Html.DropDownList("transactionCode", ViewBag.TransactionPmList as SelectList,
                "Select number of Transactions per Month", new {@id = "transactionCode", @code = "transactionCode", @class = "form-control", disabled = "disabled"})
        </div>

        <div class="form-group">
            <div class="text-center">
                <button type="submit" id="SubmitBtn" class="btn btn-primary btn-default" disabled>Submit</button>
            </div>
        </div>

    </div>
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/industry-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/employee-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/customer-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/transaction-select-listener.js")"></script>
}