@model ItPedia.ViewModels.HomeIndexModelView.IndexViewModel
@{
    ViewBag.Title = "Home";
}

@section featured {
    <div class="jumbotron">
        <h2>@ViewBag.Message</h2>

        @{ Html.RenderPartial("_ItPediaLogoText"); }

        <p>
            This website is a joint initiative of students at DEREE Computer Information Systems academic department and BYTE Computer SA.
        </p>
        <p>
            It serves as decision support tool for new entrepreneurs and business firms, aiming to produce the most suitable Information Technology configuration for different types of companies according to the industry, number of employees-sizes, number of customers, and number of transactions per month.
        </p>
        <p>
            <b>Please choose from the options below to view the recommended solution set.</b>
        </p>
    </div>
}


<div class="row">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Terms", "Index", "Terms")
            </li>
            <li>
                @Html.ActionLink("Industry Criterias", "Index", "IndustryCriterias")
            </li>
            <li>
                @Html.ActionLink("Employees Criteria", "Index", "EmployeeCriterias")
            </li>
            <li>
                @Html.ActionLink("Customers Criteria", "Index", "CustomerCriterias")
            </li>
            <li>
                @Html.ActionLink("Transaction Criteria", "Index", "TransactionCriterias")
            </li>
            <li>
                @Html.ActionLink("Solution", "Index", "Solutions")
            </li>
        </ul>
    </div>
</div>

@using (Html.BeginForm("GetSolutions", "Home", FormMethod.Post, new
{
    @id = "FormId",
    data_get_employee_criterias_by_industry_criteria_id_url = @Url.Action("GetEmployeeCriteriasByIndustryId"),
    data_get_customer_criterias_by_employee_criteria_id_url = @Url.Action("GetCustomerCriterias"),
    data_get_transaction_criterias_by_customer_criteeria_id_url = @Url.Action("GetTransactionCriterias"),
    @class = ""
}))
{
    <div class="row">

        <div class="form-group col-sm-6">
            <label class="control-label" for="industryCriterias">
                <i class="fa fa-industry"></i> Industry
            </label>
            @Html.DropDownList("industryCriterias", Model.IndustryCriterias, "Select an industry",
                new {@id = "industryCriterias", @class = "form-control select2", @style = "width: 100%"})
        </div>

        <div class="form-group col-sm-6" id="employeeCriteriasDiv">
            <label class="control-label" for="employeeCriterias">
                <i class="fa fa-users"></i> Employees Size
            </label>
            <select id="employeeCriterias" name="employeeCriterias" class="form-control select2" disabled="disabled" style="width: 100%">
                <option value="">Select number of employees</option>
            </select>
        </div>


        <div class="form-group col-sm-6" id="customerCriteriasDiv">
            <label class="control-label" for="customerCriterias">
                <i class="fa fa-shopping-cart"></i> Customer Criterias
            </label>
            <select id="customerCriterias" name="customerCriterias" class="form-control select2" disabled="disabled" style="width: 100%">
                <option value="">Select number of employees</option>
            </select>
        </div>

        <div class="form-group col-sm-6" id="TransactionsDiv">
            <label class="control-label">
                <i class="fa fa-truck"></i> TransactionCriterias/Month
            </label>
            <select id="transactionCriterias" name="transactionCriterias" class="form-control select2" disabled="disabled" style="width: 100%">
                <option value="">Select transactions per month</option>
            </select>
        </div>

        <div class="form-group">
            <div class="text-center">
                <button type="submit" id="SubmitBtn" class="btn btn-primary btn-default" disabled>Submit</button>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/industry-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/employee-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/customer-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/transaction-select-listener.js")"></script>
}