@{
    ViewBag.Title = "Acknowledgment";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    
    <p>
     The only purpose of ITPedia is educational and  to inform the public about the Information & Communications Technologies’ (ICT) 
        infrastructure of their business enterprise.
        </p>
    <p>
    Senior students participated in the analysis and the development of the web site under the supervision of Professors, E. Varouhas and K. Leftheriotis
</p>
    <p>
    The students used Visual Studio 2012 as a development environment and implemented MVC 4, with C#.
       </p><p>
  Special thanks are in order for the students M. Kethisouaran, and E. Lasithiotakis
        </p>
        
        Select @Html.ActionLink("Configuration", "Index", "Home") from the Menu to receive an IT configuration suggestion

</article>

    

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@