@{
    ViewBag.Title = "ITPedia";
}

@section featured {
    <div class="jumbotron">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
        <p>
            This site aims at informing different types of companies with respect to their Information Technology needs
            depending ontheir idustry, the number ofemployees, the number of customers and the number of transactiosn per month
        </p>
        <p><a class="btn btn-primary btn-lg">Configuration</a></p>
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post,
                                        new
                                        {
                                            id = "CompanyEmployeeFormID",
                                            data_employeeListAction = @Url.Action("EmployeeList"),
                                            data_customerListAction = @Url.Action("CustomerList"),
                                            data_transactionListAction = @Url.Action("TransactionList"),
                                        }))
{
    <fieldset>
        <label>Industry</label>
        <legend>Company/Employee</legend>

        @Html.DropDownList("Companies", ViewBag.Company as SelectList,
            "Select a Company", new { id = "CompaniesID" })

        <div id="EmployeesDivID" style="display: none">
            <label for="EmployeesID">Employees</label>
            <select id="EmployeesID" name="Employees"></select>
        </div>

        <div id="CustomersDivID" style="display: none">
            <label for="CustomersID">Customers</label>
            @Html.DropDownList("Customers", ViewBag.Customer as SelectList,
            "Select number of Customers", new { id = "CustomersID" })
        </div>

        <div id="TransactionsDivID" style="display: none">
            <label for="TransactionPMsID">Transactions per month</label>
            @Html.DropDownList("Transactions", ViewBag.TransactionPM as SelectList,
            "Select number of Transactions per Month", new { id = "TransactionPMsID" })
        </div>
        <p>
            <input type="submit" value="Submit" id="SubmitID" style="display: none" />
        </p>
    </fieldset>
}

@section scripts {
    <script src="@Url.Content("~/Scripts/app/company-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/employee-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/customer-select-listener.js")"></script>
    <script src="@Url.Content("~/Scripts/app/transaction-select-listener.js")"></script>
}