@{
    ViewBag.Title = "Info";
}

<h2>@ViewBag.YouSelected2</h2>
@{
    string[] hardwares = ViewBag.Hardware.Split(',');
    string[] software = ViewBag.Software.Split(',');
    string[] applications = ViewBag.Applications.Split(',');
    string[] networks = ViewBag.Network.Split(',');
    string[] storage = ViewBag.Storage.Split(',');
}

<table border="1" bgcolor="#99ccff" style="width: 100%;">
    <tr>
        <td>
            <img alt="Kattekrab mainframe" height="180" width="180" src="/Content/img/kattekrab-mainframe.png" />
        </td>
        @foreach (string word in hardwares)
        {
            <td>@word</td>
        }
    </tr>
    <tr>
        <td>
            <img alt="Software" height="180" width="180" src="/Content/img/software.png" />
        </td>
        @foreach (string word in software)
        {
            <td>@word</td>
        }
    </tr>
    <tr>
        <td>
            <img alt="Applications" height="180" width="180" src="/Content/img/applications.png" />
        </td>
        @foreach (string word in applications)
        {
            <td>@word</td>
        }
    </tr>
    <tr>
        <td>
            <img alt="Network" height="180" width="180" src="/Content/img/network.png" />
        </td>
        @foreach (string word in networks)
        {
            <td>@word</td>
        }
    </tr>
    <tr>
        <td>
            <img alt="Storage" height="180" width="180" src="/Content/img/storage.png" />
        </td>
        @foreach (string word in storage)
        {
            <td>@word</td>
        }
    </tr>
</table>
