@{
    ViewBag.Title = "Info";
}

<h2>@ViewBag.YouSelected2</h2>
@{
    string[] hardwares = ViewBag.Hardware.Split(',');
    string[] software = ViewBag.Software.Split(',');
    string[] applications = ViewBag.Applications.Split(',');
    string[] networks = ViewBag.Network.Split(',');
    string[] storage = ViewBag.Storage.Split(',');
}

<h1>Results - Original View Layout</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td>
                <img alt="Kattekrab mainframe" height="150" width="150" src="/Content/img/kattekrab-mainframe.png" />
            </td>
            @foreach (string word in hardwares)
            {
                <td>@word</td>
            }
        </tr>
        <tr>
            <td>
                <img alt="Software" height="150" width="150" src="/Content/img/software.png" />
            </td>
            @foreach (string word in software)
            {
                <td>@word</td>
            }
        </tr>
        <tr>
            <td>
                <img alt="Applications" height="150" width="150" src="/Content/img/applications.png" />
            </td>
            @foreach (string word in applications)
            {
                <td>@word</td>
            }
        </tr>
        <tr>
            <td>
                <img alt="Network" height="150" width="150" src="/Content/img/network.png" />
            </td>
            @foreach (string word in networks)
            {
                <td>@word</td>
            }
        </tr>
        <tr>
            <td>
                <img alt="Storage" height="150" width="150" src="/Content/img/storage.png" />
            </td>
            @foreach (string word in storage)
            {
                <td>@word</td>
            }
        </tr>
    </table>
</div>

<h2>Alternative View Layout</h2>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Hardware</h3>
            </div>

            <ul class="list-group">
                @foreach (string word in hardwares)
            {
            <li class="list-group-item">
                @word
            </li>
            }
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Software</h3>
            </div>

            <ul class="list-group">
                @foreach (string word in software)
            {
            <li class="list-group-item">
                @word
            </li>
            }
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Applications</h3>
            </div>

            <ul class="list-group">
                @foreach (string word in applications)
            {
            <li class="list-group-item">
                @word
            </li>
            }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Networks</h3>
            </div>

            <ul class="list-group">
                @foreach (string word in networks)
            {
                    <li class="list-group-item">
                        @word
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Storage</h3>
            </div>

            <ul class="list-group">
                @foreach (string word in storage)
            {
                    <li class="list-group-item">
                        @word
                    </li>
                }
            </ul>
        </div>
    </div>
</div>