@using ItPedia.Models
@model List<ItPedia.Models.Term>
@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1>
            Dictionary
            <small>
                Select an item to view explanatory information
                <a href="@Url.Action("Rss")" class="btn btn-default btn-xs">
                    <i class="fa fa-rss-square"></i> RSS
                </a>
            </small>
        </h1>
    </div>

    <br />

    <div class="row">
        <div class="list-group">
            @{
                var terms = Model;

                var firstHalfTerms = terms.Take((terms.Count + 1) / 2).ToArray(); // first half has more items; we can work with it's index
                var secondHalfTerms = terms.Skip((terms.Count + 1) / 2).ToArray();
                var secondHalfTermsLength = secondHalfTerms.Length;
            }

            @for (var index = 0; index < firstHalfTerms.Length; index++)
            {
                var firstHalfTerm = firstHalfTerms[index];
                <a href="@Url.Action("Term", new {id = firstHalfTerm.Name})" class="list-group-item col-sm-6 col-xs-12">@firstHalfTerm.Name</a>

                if (index >= secondHalfTermsLength)
                {
                    continue;
                }

                var secondHalfTerm = secondHalfTerms[index];
                <a href="@Url.Action("Term", new {id = secondHalfTerm.Name})" class="list-group-item col-sm-6 col-xs-12">@secondHalfTerm.Name</a>
            }
        </div>

    </div>
</div>