@model ItPedia.Models.Solution

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCriteria.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCriteria.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCriteria.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCriteria.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndustryCriteria.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndustryCriteria.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionCriteria.PerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionCriteria.PerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
