@model ItPedia.Models.Solution

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCriteria.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCriteria.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCriteria.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCriteria.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndustryCriteria.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndustryCriteria.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionCriteria.PerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionCriteria.PerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SolutionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
