@model IEnumerable<ItPedia.Models.Solution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCriteria.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCriteria.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndustryCriteria.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionCriteria.PerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerCriteria.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCriteria.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndustryCriteria.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionCriteria.PerMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SolutionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SolutionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SolutionId })
        </td>
    </tr>
}

</table>
