@using DB.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title &middot ITPedia</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    @{
        string themeName = Session["theme_name"] == null ? "sandstone" : (String)Session["theme_name"];
    }

    <link href="@Url.Content("~/Content/bootswatch/" + themeName + "/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")

</head>

<body>
    <div id="wrap">

        <div class="navbar navbar-default navbar-fixed-top" id="top-navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/Content/img/logo.png")'  style="max-width: 35px; margin-top: 10px;" />
                    </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class='@Html.IsActive("Home", "Index")'>
                            @Html.ActionLink("Configuration", "Index", "Home")
                        </li>
                        <li class='@Html.IsActive("Home", "Acknowledgment")'>
                            @Html.ActionLink("Acknowledgment", "Acknowledgment", "Home")
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="themes">
                                <li>@Html.ActionLink("Default", "Index", "Themes", new { id = "default" }, null)</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Cerulean", "Index", "Themes", new { id = "cerulean" }, null)</li>
                                <li>@Html.ActionLink("Cosmo", "Index", "Themes", new { id = "cosmo" }, null)</li>
                                <li>@Html.ActionLink("Cyborg", "Index", "Themes", new { id = "cyborg" }, null)</li>
                                <li>@Html.ActionLink("Darkly", "Index", "Themes", new { id = "darkly" }, null)</li>
                                <li>@Html.ActionLink("Flatly", "Index", "Themes", new { id = "flatly" }, null)</li>
                                <li>@Html.ActionLink("Journaly", "Index", "Themes", new { id = "journal" }, null)</li>
                                <li>@Html.ActionLink("Lumen", "Index", "Themes", new { id = "lumen" }, null)</li>
                                <li>@Html.ActionLink("Paper", "Index", "Themes", new { id = "paper" }, null)</li>
                                <li>@Html.ActionLink("Readable", "Index", "Themes", new { id = "readable" }, null)</li>
                                <li>@Html.ActionLink("Sandstone", "Index", "Themes", new { id = "sandstone" }, null)</li>
                                <li>@Html.ActionLink("Simplex", "Index", "Themes", new { id = "simplex" }, null)</li>
                                <li>@Html.ActionLink("Slate", "Index", "Themes", new { id = "slate" }, null)</li>
                                <li>@Html.ActionLink("Spacelab", "Index", "Themes", new { id = "spacelab" }, null)</li>
                                <li>@Html.ActionLink("Superhero", "Index", "Themes", new { id = "superhero" }, null)</li>
                                <li>@Html.ActionLink("United", "Index", "Themes", new { id = "united" }, null)</li>
                                <li>@Html.ActionLink("Yeti", "Index", "Themes", new { id = "yeti" }, null)</li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class='@Html.IsActive("Home", "Contact")'>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container" id="main-content">
            @RenderSection("featured", required: false)
            <div class="content-wrapper main-content clear-fix">
                @RenderBody()

            </div>
        </div>

        <div id="push"></div>
    </div>


    @*class="navbar navbar-default"*@
    <div id="footer" class="navbar navbar-default">
        <div class="container">
            <p class="navbar-brand">&copy; @DateTime.Now.Year - ITPedia </p>

        </div>
    </div>

    <noscript>
        <div>
            <h2>This site requires JavaScript</h2>
        </div>
    </noscript>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(function () {
            $('#main').show();
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>